@import '../../constants/styles.constants.scss';

.CustomTimeInput {
  position: relative;
  color: $main-color;
  font-size: 1.4rem;

  display: flex;
  justify-content: space-around;

  select {
    width: 30%;
    background: none;
    padding: 10px 10px 10px 5px;
    margin-right: 20px;
    border: none;
    border-bottom: 1px solid $main-color;
    font-size: inherit;
    font-family: inherit;

    &:focus {
      outline: none;
    }

    &:disabled {
      outline: none;
      border-bottom: 1px solid $white;
      color: $main-color;
      opacity: 1;
      border-radius: 0;
      appearance: none;
    }
  }

  label {
    display: flex;
    justify-items: flex-end;
    align-items: center;

    margin: 0 10px;
  }
}
