@import "../../styles/colors.css";

.scheduleAddBtnWrapper {
  position: fixed;
  bottom: 50px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scheduleAddBtn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--shcedule-hilight-background-color);
}

.scheduleAddBtn:hover {
  background-color: var(--hover-color);
  border-color: var(--shcedule-hilight-background-color);
}

.scheduleAddBtn svg {
  font-size: 40px;
  color: var(--schedule-add-btn-color);
  transition: color 0.2s linear, transform 0.2s linear;
}

.scheduleAddBtn:hover svg {
  color: var(--colorton-light-gray);
  transform: rotate(90deg);
}

.scheduleAddBtn:active svg {
  color: var(--colorton-light-gray);
}

.scheduleAddBtn:focus svg {
  color: var(--colorton-light-gray);
}
