.ScheduleHeader {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.HeaderTitle {
  font-size: 13px;
  margin-bottom: 10px;
}

.HeaderDate {
  font-size: 25px;
  color: #bdbdbd;
}
