@import '../../constants/styles.constants.scss';

.calendarName {
  margin-top: 5%;
  color: $red;
}

.title {
  color: $blue;
}

.container {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}
