.time_container div {
  width: 100%;
  height: 100%;
  border-bottom: #2CA58D dashed 1px;
}

.event {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 2vw;
  font-weight: 400;
  font-size: 1rem;
  color: #F8F6F1;
  background-color: #084e63;
}

.plain {
  height: 100%;
}
