.Date {
  width: 100%;
  position: relative;

  & > div {
    box-sizing: border-box;
    border-right: 1px solid #dddddd;

    div {
      height: 70px;
      box-sizing: border-box;
      border-bottom: 1px solid #dddddd;
      font-size: 0.8em;
    }
  }
}
