.Schedule {
  max-height: 420px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  justify-content: space-between;

  ul {
    margin: 0;
    padding: 0;
  }
}

.Timeline {
  width: 40px;
  height: 1680px;
  margin: 0;
  padding: 0;
  border-right: 1px solid #dddddd;
  font-size: 0.8em;
  color: #aaaaaa;

  li {
    width: 40px;
    height: 70px;
    position: relative;

    span {
      position: absolute;
      bottom: -10px;
    }
  }
}
