@import "../../styles/colors.css";

.wrapper {
  position: relative;
  display: flex;
  width: 100%;
  min-width: 800px;
  height: 100%;
  min-height: 600px;
  background-color: var(--schedule-background-color);
  padding-right: 10px;
  overflow: scroll;
  border: var(--colorton-light-gray) .5px solid;
  -webkit-box-shadow: 5px 5px 20px 10px var(--colorton-light-gray);
  -moz-box-shadow: 5px 5px 20px 10px var(--colorton-light-gray);
  box-shadow: 5px 5px 20px 10px var(--colorton-light-gray);
}
