@import "../../common/font.module.css";

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.currentPeriod {
  margin: 0 2vw;
  font-size: 1.3em;
  font-weight: 600;
}

.icon {
  color: skyblue;
  cursor: pointer;
  font-size: 1.3em;
}
