@value calenderBlack, calenderBlue, calenderSkyBlue, calenderPink, calenderRed, calenderGray, calenderLightBlue from "../../common/main.module.css";

.headerContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.currentPeriod {
  width: 20%;
  text-align: center;
  margin: 0 2vw;
  font-size: 1.3em;
  font-weight: 600;
}

.icon {
  color: calenderBlue;
  cursor: pointer;
  font-size: 1.3em;
}
