.eventContainer {
  margin-top: 10%;
}

.eventContainer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.eventContainer button {
  width: 384px;
  margin-top: 10px;
  padding: 10px;
  font-size: 20px;
  background-color: inherit;
  color: inherit;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}
