.eventContainer {
  margin-top: 10%;
}

.eventContainer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.eventContainer textarea,
.eventContainer select {
  display: block;
  height: 40px;
  margin: 20px;
  padding: 10px 40px;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced6e0;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.eventContainer textarea {
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: 22px;
  width: 300px;
}

.eventContainer textarea:hover,
.eventContainer textarea:focus,
.timeSelector > select:hover,
.timeSelector > select:focus {
  border: 1px solid black;
}

.timeSelector {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeSelector > select {
  margin: 20px 10px;
  width: 182px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.subscribe {
  min-height: 120px;
  resize: vertical;
}

.eventContainer button {
  width: 384px;
  margin-top: 10px;
  padding: 10px;
  font-size: 20px;
  background-color: inherit;
  color: inherit;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}
