@import '../../constants/styles.constants.scss';

.SignIn {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin: 10px;

  h2 {
    text-align: left;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.error {
  color: $red;
}
