.FormBox {
  position: relative;
  margin: 70px auto;
  width: 500px;
  height: 450px;
  opacity: 0.6;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 123, 139);
  border-radius: 10px;
}

.InputTitle {
  margin: 10px auto;
  height: 40px;
  width: 400px;
  border: none;
  border-bottom: 2px solid rgb(0, 123, 139);
  background-color: white;
  font-size: 20px;
  text-align: center;
}

.InputDate {
  font-size: 19px;
}

.Time {
  font-size: 19px;
}

.Date {
  margin: 20px 10px auto;
  height: 40px;
  width: 130px;
  font-size: 18px;
  text-align: center;
}

.Select {
  margin: 20px 10px auto;
  height: 40px;
  width: 100px;
  font-size: 18px;
}

.Textarea {
  margin: 30px auto;
  height: 120px;
  width: 405px;
}

.Button {
  margin: 0px 10px auto;
  height: 40px;
  width: 70px;
}
