.row {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0.01px solid black;
  width: 100%;
  height: 25%;
}

.pick {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 25%;
  background-color: mediumaquamarine;
}
