.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.Navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 100%;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
