@import '../../constants/styles.constants.scss';

.event-detail {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  h2 {
    text-align: left;
  }
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
