.EventDetail {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  height: 100vh;
  padding: 100px 100px;
}

.EventDetail h2 {
  color: var(--main-color);
}

.EventDetail fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.EventDetail form {
  display: flex;
  flex-direction: column;
}

.EventDetail form * {
  width: 300px;
}

.EventDetail form input {
  height: 30px;
  border: none;
  border-bottom: 1px solid var(--main-color);
}

.EventDetail form label {
  margin: 30px 0 3px;
  color: var(--main-color);
  font-size: 14px;
}

.editButton {
  margin-top: 30px;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: var(--main-color);
  color: white;
  text-transform: uppercase;
}

.editButton:disabled {
  margin-top: 30px;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  text-transform: uppercase;
}

.cancelButton {
  margin-top: 10px;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  text-transform: uppercase;
}

.deleteButton {
  margin-top: 10px;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: black;
  color: white;
  text-transform: uppercase;
}
