.HoursBar {
  display: flex;
  width: 100px;
  margin-top: 80px;
  flex-direction: column;
  list-style: none;
}

.HoursBar li {
  position: relative;
  width: 100px;
  height: 52px;
  background: white;
}

.HoursBar li label {
  position: absolute;
  left: 50%;
  background: white;
  transform: translateX(-50%) translateY(-50%);
}
