.Button {
  width: 8vw;
  height: 5vh;
  margin: 1vw;
  background:#f5f6fa;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 1.5vmin;
  font-family: 'Hind', sans-serif;
  cursor: pointer;
}
