.OnedaySchedule {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.eventCell {
  background-color: #dff9fb;
}

.title {
  height: 50px;
}

.text {
  margin-top: 1vh;
  font-size: x-large;
}

.link {
  color: black;
  font-weight: bolder;
  text-decoration: none;
}
