.cells {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.cell {
  width: 100%;
  height: 48px;
  line-height: 50px;
  opacity: 0;
  background-color: gray;
}

.cell:hover {
  opacity: 1;
  transition: 1s ease-in;
}
