.flexCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.eventForm {
  width: 500px;
}

.eventFormContainer {
  border: 1px solid grey;
}

/* each event container */

.eachEvent {
  max-width: 50%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}