.NewEvent {
  display: flex;
  justify-content: center;
}

.NewEventForm {
  display: flex;
  flex-flow: column;
  width: 550px;
  padding: 50px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 3px 10px -4px #000000;
}

.InputElemBox {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.InputText {
  width: 100%;
  resize: none;
  padding: 10px;
  font-size: 1.3rem;
  border: none;
  border-bottom: solid 3px dodgerblue;
  border-radius: 5px;
  background-color: #f4f5f8;
  box-shadow: 0px 2px 5px -4px #000000;
}

.InputDate {
  width: 100%;
  padding: 10px;
  font-size: 1.5rem;
  border: none;
  border-bottom: solid 3px dodgerblue;
  border-radius: 5px;
  background-color: #f4f5f8;
  box-shadow: 0px 2px 5px -4px #000000;
  text-align: center;
}

.InputTime {
  width: 200px;
  padding: 10px;
  font-size: 1.5rem;
  border: none;
  border-bottom: solid 3px dodgerblue;
  border-radius: 5px;
  background-color: #f4f5f8;
  box-shadow: 0px 2px 5px -4px #000000;
  text-align: center;
}

.InputStartEndTimeBox {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-size: 1.5rem;
}

.EventTimeLabel {
  margin-right: 10px;
}

.ButtonBox {
  display: flex;
  justify-content: flex-end;
}

.Button {
  width: 150px;
  padding: 8px;
  border: none;
  color: white;
  font-size: 1rem;
  background-color:dodgerblue;
  box-shadow: 0px 2px 5px -4px #000000;
  cursor: pointer;
}

.MessageBox {
  height: 20px;
  margin-top: 20px;
  color: red;
  text-align: start;
}

.ReadModeInput {
  border-bottom: solid 3px #183c7e;
  outline: none;
}

hr {
  width: 100%;
}

.Link {
  margin-right: 20px;
}