@import "../../styles/colors.css";

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  min-width: 600px;
  height: 100%;
  min-height: 600px;
  background-color: var(--modal--block-background-color);
  padding-right: 10px;
  overflow: scroll;
  border: var(--colorton-light-gray) .5px solid;
  -webkit-box-shadow: 5px 5px 20px 10px var(--colorton-light-gray);
  -moz-box-shadow: 5px 5px 20px 10px var(--colorton-light-gray);
  box-shadow: 5px 5px 20px 10px var(--colorton-light-gray);
}
