.EventBar {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100px;
  color: white;
  z-index: 1;
}

.Color0 {
  background-color: #68bee1;
}

.Color1 {
  background-color: #f4a149;
}

.Color2 {
  background-color: #bf85ff;
}

.Color3 {
  background-color: #9cd67f;
}

.Color4 {
  background-color: #f28183;
}

.IsWide {
  width: 100%;
}
