.ScheduleModeDay {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.ViewHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.TimeWrapper {
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
}
