@import "../../styles/colors.css";

.dateColumn {
  position: relative;
  padding-top: 100px;
  width: 100%;
}

.dateRow {
  width: 100%;
  height: 48px;
  min-width: 81px;
  border-top: 1px var(--schedule-border-color) solid;
  cursor: pointer;
}

.dateRow:hover {
  background-color: var(--schedule-date-row-background-color);
}

.dayInfo {
  position: absolute;
  top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dayOfTheWeek {
  font-size: 0.8rem;
  color: var(--schedule-hilight-background-color);
}

.dayOfMonth {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 1.2rem;
  letter-spacing: -1.5px;
  text-indent: -2.5px;
  border-radius: 50%;
  background-color: var(--schedule-hilight-background-color);
  color: var(--schedule-hilight-color);
}
