.DailyTimeBar {
  position: relative;
  border: 1px solid rgb(224, 224, 224);
  height: 50px;
  cursor: pointer;
  margin-left: 50px;
}

.DailyTimeBar span {
  font-size: 13px;
  position: absolute;
  left: -55px;
  top: -8px;
}

.DailyTimeBar .eventSpace {
  background-color: beige;
}
