@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Bree+Serif&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Bree Serif', 'Noto Sans KR', sans-serif;
  color: #242424;
}

* {
  box-sizing: border-box;
  /* border: 1px dashed rgb(220, 220, 220); */
}

a {
  text-decoration: none;
  color: inherit;
}
