.week {
 display: flex;
}

.days {
  width: 100%;
  margin-left: 70px;
  display: flex;
  justify-content: space-between;
}

.day {
  width: 20%;
  text-align: center;
}

.cell {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
