@import '../../styles/colors.css';

.app {
  text-align: center;
}

.header {
  display: flex;
  height: 64px;
  background-color: var(--colorton-medium);
}

.main {
  height: calc(100vh - 64px - 30px);
}

.sidebar {
  width: 500px;
  background-color: var(--colorton-light);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 5vw;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height : 30px;
  background-color: var(--colorton-dark);
}
