@import '../../constants/styles.constants.scss';

.App {
  text-align: center;
  width: 90vw;
  max-width: 1200px;
  padding: 10px;
  margin: 10px auto;

  background-color: $white;
  border-radius: 10px;
  box-shadow: $box-shadow;
}
