.App {
  box-sizing: border-box;
  text-align: center;
}

.App button {
  border: 2px solid #B5D6D6;
  border-radius: 5px;
  background: white;
  transition: all 0.3s;
}

.App button + button {
  margin-left: 10px;
}

.App button:hover {
  background: #B5D6D6;
}