.container {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 70%;
  display: flex;
  margin-top: 4%;
}

.formTitle {
  font-size: 40px;
  font-weight: bold;
}

.creatorContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  height: 70%;
}
