.detail-event {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  width: 450px;
  height: 550px;
  background: #e6e6e6;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: calc(50vh - 220px) auto;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.detail-event h3 {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 180px;
  color: #2e6da4;
  border-bottom: 3px solid #2e6da4;
}

.title-container,
.time-container,
.description-container {
  margin: 10px;
  width: 100%;
}

.title-container,
.time-container,
.description-container,
.submit-button-container {
  pointer-events: none;
}

.active {
  pointer-events: auto;
}

.time-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.time-container input {
  margin: 5px;
}

.event-title {
  padding: 7px 0;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  color: black;
  background: transparent;
  transition: border-color 0.2s;
  font-family: inherit;
  font-size: 1.3rem;
}

.event-title:focus {
  border-color: #2e6da4;
}

.event-date {
  border: none;
  background-color: #e6e6e6;
  transition: all 0.5s ease-in-out;
}

.event-date:focus {
  border: 1px solid black;
}

.description {
  height: 100px;
  width: 70%;
  border: none;
  background-color: #e6e6e6;
  transition: all 0.5s ease-in-out;
}

.description:focus {
  border: 1px solid black;
}

.button {
  padding: 8px 12px;
  margin: 20px;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #2e6da4;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  transition: all 0.3s;
}
.button:hover {
  background: #2e6da4;
  color: #fff;
}
