.indicator {
    display: flex;
    width: 10%;
    margin-top: 25px;
    justify-content: center;
    background-color: violet;
}

.cell {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
   background-color: tomato;
}
