.table-cell {
  height: 40px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.table-cell:hover {
  background-color: #e6e6e6;
}
