.block {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50px;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

.block:hover {
  background: #F5F5F5;
}

.wrapper {
  width: 100%;
  position: relative;
}
