.header {
  display: flex;
  width: 100vw;
}

.time-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5vw;
}

.day-header {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 12vw;
}

.date {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  height: 40px;
  width: 40px;
  border: 3px solid black;
  border-radius: 5px;
}
