.header {
  display: flex;
  width: 100vw;
}

.time-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5vw;
}

.day-header {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 12vw;
  border: 1px solid transparent;
}
