.DailyOutline {
  overflow: scroll;
  overflow-x: hidden;
  margin: 0 auto;
  width: 800px;
  height: 90%;
  border: 2px solid brown;
}

.DateBox {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.EventDisplayBox {
  display: flex;
  flex-direction: row;
  width: 800px;
  height: 1250px;
}
