.daily_container {
  display: flex;
  height: 90vh;
  overflow: hidden;
  padding-right: 10px;
  background-color: #084e63;
}

.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5vh;
  color: #F8F6F1;
  background-color: #9F9FED;
}
