.daily-title {
  padding: 20px;
}

.row-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.time-div{ 
  height: 30px;
  text-align: left;
  border: 1px solid black;
}

.colored {
  background-color: palegreen;
}
