.daily {
  margin: 20px;
}

.daily-title {
  padding: 20px;
}

.row-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.time-div{ 
  height: 30px;
  width: 100%;
  border: 1px solid black;
}

.colored {
  background-color: palegreen;
  border-style: hidden;
}

.event-hour {
  text-align: left;
  width: 40px;
  padding: 5px;
}

.event-title {
  position: relative;
  text-align: center;
  z-index: 1;
}

.disable-click {
  pointer-events: none;
}
