.Calendar {
  width: 800px;
  background-color: white;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin: 20px;
}

.calendar_wrap {
  height: 100%;
  width: 100%;
  display: flex;
    justify-content: center;
    align-items: center;
}

.table {
  width: 90%;
  height: 100%;
  text-align: left;
  cursor: pointer;
}

.item {
  border-top: 1px solid #9c9c9c;
  height: 30px;
}

.weekly_container {
  display: flex;
  width: 90%;
}
