@import '../../constants/styles.constants.scss';

.calendar-container {
  width: 100%;

  .navigation,
  .content {
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;

    margin: 20px;
  }

  .navigation {
    * {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .today {
      padding-top: 10px;
    }

    .current {
      justify-content: flex-start;
      margin: 20px;
      font-size: 1.6rem;

      svg {
        margin: 5px 15px 0 5px;

        &:hover {
          transform: scale(1.2);
          cursor: pointer;
        }
      }
    }

    .view-modes {
      justify-content: flex-end;
    }
  }

  .content {
    margin: 0 50px 10px 50px;
    padding-right: 5px;
    height: 75vh;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 2px;
      background-color: $gray;
    }
    &::-webkit-scrollbar-button {
      width: 0;
      height: 0;
    }

    .calendar-field {
      grid-column-start: 2;
      grid-column-end: -1;

      display: flex;

      .daily-container {
        flex-grow: 1;
      }
    }
  }
}
