.CalendarEventBar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 90%;
  border-radius: 5px;
  padding: 1px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #00a2e7;
  color: white;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
