.DailyCalendarBar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  border: 0.1px solid gray;
  border-collapse: unset;

  &:nth-child(even) {
    background-color: seashell;
  }

  &:nth-child(odd) {
    background-color: whitesmoke;
  }
}
