@import url("../../assets/styles/reset.css");

.WeekTable {
  display: flex;
  flex-flow: column;
  overflow: scroll;
  width: 70vw;
  height: 50vh;
  border-left: 1px solid #BDBDBD;
  box-sizing: border-box;
  background-color: #FFF8E1;
  font-weight: bold;
}

.dayTable {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5vh;
  background-color: #FFF3E0
}

.dayCell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-right: 1px solid #BDBDBD;
  border-bottom: 1px solid #BDBDBD;
}

.contentContainer {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  border-right: 1px solid #BDBDBD;
  border-bottom: 1px solid #BDBDBD;
}

.event {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 5vh;
  border-right: 1px solid #BDBDBD;
  border-bottom: 1px solid #BDBDBD;
}

.dayEvent {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100vh;
}

.weekEvent {
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 100vh;
}

.link {
  text-decoration: none;
  color: black;
}
