.table-row {
  display: flex;
  height: 40px;
  width: 90vw;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.table-row:hover {
  background-color: #e6e6e6;
}
