@import url("../../assets/styles/reset.css");

.EventForm {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 70vh;
  background-color: #F1F8E9;
  font-weight: bold;
}

.eventInput {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 90%;
  background-color: #FFF8E1;
}

.inputContainer {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  height: 15%;
}

input {
  all: unset;
  border-bottom: 1px solid black;
}

.timeInputContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.timeInputContainer input {
  width: 15%;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15%;
}

.submitButton {
  all: unset;
  width: 15%;
  height: 50%;
  margin: 5%;
  background-color: #FFE0B2;
}
