@import url("../../assets/styles/reset.css");

.eventInput {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  width: 70vw;
  height: 60vh;
  background-color: #FFF8E1;
  font-weight: bold;
}

.eventInput > div {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  height: 15%;
}

input {
  all: unset;
  border-bottom: 1px solid black;
}

.timeInputContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.timeInputContainer input {
  width: 15%;;
}

.submitButton {
  all: unset;
  width: 15%;
  height: 5%;
  background-color: #FFE0B2;
}
