.EventView {
  max-width: 600px;
  max-height: calc(100% - 90px);
  margin: 0 auto;
  padding: 1em;
  overflow-y: auto;
  box-sizing: border-box;

  .title {
    margin: 0 0 1em 0;
    padding: 0 0 0.5em 0;
    font-size: 1.7em;
    font-weight: bold;
    border-bottom: 1px solid #313131;
  }

  dl {
    margin: 0 0 1.5em 0;

    dt {
      margin: 0 0 0.5em 0;
      font-weight: bold;
      font-size: 1.2em;
    }

    dd {
      margin: 0;
      padding: 0.5em;
      border: 1px solid #dddddd;
      border-radius: 5px;
      background: #f5f5f5;
      font-size: 0.9em;
      line-height: 1.5em;
      white-space: pre-wrap;
    }
  }

  .Buttons {
    text-align: center;

    button {
      margin: 0 0.5em 0 0;

      & :last-child {
        margin: 0;
      }
    }
  }
}
