.modalWrapper {
  position: relative;
  top: 150px;
  margin: auto;
  border: 1px solid black;
  width: 360px;
  height: 390px;
}

.titleWrapper {
  padding: 20px 0;
}

.titleInput {
  width: 300px;
  height: 30px;
  text-align: center;
}

.descriptionWrapper {
  padding: 20px 0;
}

.descriptionInput {
  width: 300px;
  height: 100px;
  text-align: center;
}

.dateSelectWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 302px;
  height: 70px;
  margin: auto;
}

.startTimeSelect {
  width: 100px;
  height: 30px;
}

.endTimeSelect {
  width: 100px;
  height: 30px;
}

.submitWrapper {
  padding: 20px 0;
}

.submitButton {
  width: 100px;
  height: 35px;
}
