.content {
  display: flex;
  justify-content: center;
  position: absolute;
  background: white;
  z-index: 8;
  top: 20%;
  left: 40%;
  max-width: 500px;
  min-height: 400px;
  padding: 10px;
  box-shadow: 5px 2px 5px 2px #D3D3D3;
  border-radius: 10px;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}
