.modal-container {
  position: fixed;
  margin: 0 auto;
  top: 200px;
  left: 0;
  right: 0;
  width: 400px;
  height: 500px;
  background-color: #ccff99;
  z-index: 2;
}


.modal-content-container {
  
}
