.DateDisplayBox {
  width: 100px;
  height: 100px;
}

.Day {
  width: 100px;
  height: 30px;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  padding-top: 7px;
  color: grey;
}

.Date {
  width: 100px;
  height: 67px;
  margin: 0 auto;
  text-align: center;
  font-size: 55px;
  color: grey;
}
