@import url("../../assets/styles/reset.css");

.header {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5vw;
  background-color: #F1F8E9;
  font-weight: bold;
}

.nav {
  background-color: #F1F8E9;
}

.ul {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 30vw;
}

.ul li {
  width: 30vw;
}

.link {
  text-decoration: none;
  color: black;
}
