.header {
  width: 80%;
}

.header ul {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  list-style: none;
  padding: 0;
}

.header li {
  font-size: 25px;
  font-weight: 800;
}
