
  .timeLine {
    width: 100px;
    height: 1152px;
  }

  .time {
    width: 70px;
    height: 48px;
    margin-left: 10px;
  }

  .time::after {
    content: '';
    border-bottom: #dadce0 1px solid;
    position: absolute;
    width: 90%;
    right: 2px;
  }
