.container div {
  border: lightgray 0.1px solid;
  box-sizing: border-box;
}

.container {
  width: 90vw;
  margin: 0 auto;
  margin-top: 1vh;
  display: flex;
  justify-content: space-between;
}

.scheduleContainer {
  position: relative;
  width: 90%;
}

.timeContainer {
  text-align: right;
  width: 10%;
}

.date {
  margin: 0;
}

.eachTime {
  height: 32px;
  color: calenderBlack;
  font-size: 0.8em;
}
