.days {
  margin: 20px;
}

.grid-container {
  font-size: small;
  left: 40px;
}

.row {
  display: flex;
  height: 30px;
  width: 100%;
  background-color: white;
  border: 0.5px solid black;
}

.col {
  height: 30px;
  width: 100%;
  border: 0.5px solid black;
}

.vertical-container {
  display: flex;
  height: 720px;
}

.vertical {
  width: 14.3%;
  height: 766px;
  border: 0.5px solid black;
}

.box {
  height: 30px;
  width: 100%;
  border: 0.5px solid black;
}

.time-col {
  position: fixed;
  margin-top: 40px;
  height: 720px;
  width: 10px;
}

.time-box {
  height: 32px;
  width: 10px;
  margin-left: -20px;
  text-align: center;
}

.box-colored {
  background-color: palegreen;
  border-color: palegreen;
}
