.weekly_header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10vh;
  font-size: 2vw;
  background-color: #F2F4F3;
}

.weekly_header_btn {
  width: 100%;
  height: 3vh;
  display: flex;
  justify-content: space-evenly;
  background-color: #5E503F;
  border-top: #0A0908 solid 1px;
  border-bottom: #0A0908 solid 1px;
}

.weekly_header_dayOfWeek {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 7vh;
  padding-left: 5vw;
  font-size: 1rem;
  /* color: #F8F6F1; */
  /* background-color: #9F9FED; */
}

.weekly_container {
  display: flex;
  width: 100%;
  height: 85vh;
  overflow: hidden;
  /* background-color: #084e63; */
}

.weekly_container_view {
  flex-basis: 96vw;
  display: flex;
}
