.weekly_header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10vh;
  font-size: 2vw;
}

.weekly_header_btn {
  width: 100%;
  height: 3vh;
  display: flex;
  justify-content: space-evenly;
  background-color: #EF6F6C;
}

.weekly_header_dayOfWeek {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 7vh;
  font-size: 1rem;
  color: #F8F6F1;
  background-color: #9F9FED;
  padding-left: 5vw;
}

.weekly_container {
  display: flex;
  height: 85vh;
  overflow: hidden;
}
