div {
  border: lightgray 0.1px solid;
  box-sizing: border-box;
}

.container {
  width: 90vw;
  margin: 0 auto;
  margin-top: 1vh;
  display: flex;
  justify-content: space-between;
}

.tableHeader {
  height: 60px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timeContainer {
  text-align: right;
  width: 50%;
}

.date {
  margin: 0;
}

.eachDay {
  width: 100%;
}

.eachTime {
  height: 32px;
}
