@value calenderBlack, calenderDarkGray, calenderBlue, calenderSkyBlue, calenderPink, calenderRed, calenderGray, calenderLightBlue from "../../common/main.module.css";

.container div {
  border: lightgray 0.1px solid;
  box-sizing: border-box;
}

.container {
  width: 90vw;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}

.scheduleContainer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  position: relative;
}

.tableHeader {
  height: 60px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timeContainer {
  text-align: right;
  width: 10%;
}

.date {
  margin: 0;
  font-size: 0.9em;
  font-weight: 600;
  color: calenderBlack;
}

.day {
  margin-top: 3px;
  font-size: 0.86em;
  color: calenderGray;
}

.eachDay {
  width: 100%;
}

.eachTime {
  height: 32px;
  color: calenderBlack;
  font-size: 0.8em;
}
