@import "../../styles/colors.css";

.dateColumn {
  position: relative;
  width: 100%;
}

.dateRow {
  width: 100%;
  height: 48px;
  min-width: 81px;
  border-top: 1px var(--schedule-border-color) solid;
  cursor: pointer;
}

.dateRow:hover {
  background-color: var(--schedule-hover-color);
}

.dayInfo {
  position: sticky;
  top: 0;
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--schedule-header-background-color);
  z-index: 99;
}

.spanArea {
  height: 10px;
}

.dayOfTheWeek {
  font-size: 0.8rem;
}

.dayOfMonth {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 1.2rem;
  letter-spacing: -1.5px;
  text-indent: -2.5px;
  border-radius: 50%;
}

.hilight .dayOfTheWeek {
  color: var(--shcedule-hilight-background-color);
  font-size: 0.9rem;
}

.hilight .dayOfMonth {
  width: 42px;
  height: 42px;
  background-color: var(--shcedule-hilight-background-color);;
  color: var(--schedule-hilight-color);
  font-size: 1.3rem;
}

.nomal .dayOfMonth {
  background-color: var(--colorton-light-gray);
  color: var(--schedule-hilight-color);
}

.leftBorder {
  border-left: var(--colorton-light-gray) .5px solid;
}

.rightBorder {
  border-right: var(--colorton-light-gray) .5px solid;
}
