@import '../../constants/styles.constants.scss';

@mixin shrinkLabel {
  top: -22px;
  font-size: 1rem;
}

.group {
  position: relative;
  color: $main-color;
  font-size: 1.4rem;

  input {
    background: none;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $main-color;
    margin: 60px 0;
    font-size: inherit;
    font-family: inherit;

    &:focus {
      outline: none;
    }

    &:focus ~ label {
      @include shrinkLabel();
    }

    &:disabled {
      outline: none;
      border-bottom: 1px solid $white;
      color: $main-color;
      border-radius: 0;
      appearance: none;
    }

    &:disabled ~ label {
      @include shrinkLabel();
    }
  }

  input[type='password'] {
    letter-spacing: 0.3em;
  }

  label {
    position: absolute;
    left: 5px;
    top: 10px;

    pointer-events: none;
    font-size: 1.4rem;

    transition: 300ms ease all;
  }

  .shrink {
    @include shrinkLabel();
  }
}
