.Header {
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  display: flex;
  background-color: white;
}

.title {
  position: fixed;
  top: -5px;
  left: 20px;
}

.previous {
  position: fixed;
  top: 22px;
  left: 95px;
}

.next {
  position: fixed;
  top: 22px;
  left: 145px;
}

.month {
  position: fixed;
  left: 50%;
  margin-block-start: 0.7em;
  margin-block-end: 0.7em;
}

.viewSelector {
  position: fixed;
  top: 25px;
  right: 80px;
}

.create {
  position: fixed;
  top: 22px;
  right: 10px;
}

h1 {
  margin-block-start: 0.5em;
}

h1,
h3 {
  margin-bottom: 0;
}