.timeColumnWrapper {
  position: relative;
}

.timeRowWrapper {
  width: 48px;
  height: 48px;
  text-align: right;
}

.timeText {
  position: relative;
  top: -13px;
  color: #70757a;
  font-size: 10px;
}

.emptyArea {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 90px;
  background-color: white;
}

.spanArea {
  height: 10px;
}
