.ViewSelector {
  border: 1px solid #E5E8E8;
  margin-bottom: 50px;
  width: 120px;
  height: 40px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  text-align-last: center;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.ViewSelector:focus {
  border: 0;
  outline: 0;
}

.ViewSelector:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
}