@import '../../constants/styles.constants.scss';

.NewEvent {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  h2 {
    text-align: left;
  }
}

.buttons {
  margin-top: 50px;
}

.error {
  margin: 20px;
  color: $red;
  font-size: 1.2rem;
}
