@import "../../styles/colors.css";

.loginWrapper {
  position: fixed;
  top:0;
  left:0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 9999;

  background-color: var(--modal--background-color);
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  height: 250px;
  background-color: var(--modal--block-background-color);
}
