.Login{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .LoginBox {
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #dddddd;
    border-radius: 5px;

    .title {
      margin: 0 0 1em 0;
      font-size: 1.5em;
      font-weight: bold;
    }

    .googleIcon {
      width: 2em;
      height: 2em;
      margin: 0 0.3em 0 0;
      vertical-align: middle;
    }

    .smileIcon {
      width: 5em;
      height: 5em;
      margin: 0 0 1em 0;
      color: #B721FF;
    }

  }

}
