.left_nav {
  flex-basis: 4vw;
  width: 5vw;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.left_nav div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 0.8rem;
  color: #F8F6F1;
}
