.left_nav {
  width: 5vw;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.left_nav div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
