.Navigator {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.1);
}

.Navigator ul {
  display: flex;
  padding : 0px;
  list-style: none;
}

.Navigator ul li {
  margin :3px;
}
