.UserProfile {
  h1 {
    margin-top: 50px;
  }
}

.profile {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.photo {
  width: 150px;
  border-radius: 50%;
}

.detail {
  text-align: left;
  margin: 0 50px;
}
