.calendar .day {
  position: relative;
  width: calc(100% / 7);
  height: 10em;
  display: inline-block;
  background-color: white;
  margin: 0;
  box-sizing: border-box;
  z-index: 1;
  text-align: center;
}

.weeks .dayWeek {
  width: calc(100% / 7);
  height: 2em;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid rgb(100, 100, 100);
}

.content {
  display: flex;
}

.colummDay {
  flex: 1;
  margin-right: 3em;
}
