.wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.formArea {
  display: flex;
  flex-direction: column;
}

.formItemWrapper {
  display: flex;
  margin: 20px 0 20px 0;
}

.formLeftItem {
  width: 100px;
}

.formRightItem {
  
}

.formButtonWrapper {
  display: flexbox;
  justify-content: center;
}
