@import '../../constants/styles.constants.scss';

@mixin selected {
  background-color: $main-color;
  color: $sub-color;
  border: 1px solid $sub-color;
}

.CustomButton {
  width: 100%;
  min-width: 80px;
  height: 50px;
  margin: 0 5px 5px 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $sub-color;
  color: $main-color;
  border: 1px solid $main-color;
  outline: none;

  opacity: 0.9;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  font-family: inherit;

  svg {
    margin-left: 5px;
  }

  &:hover {
    @include selected();
    cursor: pointer;
  }

  &.selected {
    @include selected();
    cursor: not-allowed;
  }
}
