.wrapper {
  margin-left: 230px;
  padding-top: 71px;
}

.same-input {
  display: flex;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
}

.input {
  margin: 5px 10px;
}
