.Auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--main-color);
  color: white;
}

.Auth h1 {
  margin: 10px 0 50px 0;
  font-size: 50px;
  text-transform: uppercase;
  color: white;
}

.Auth button {
  font-size: 14px;
  color: var(--main-color);
}
